# Build artifacts
kvmcli
tmp
docs

# Database
*.db
*.sqlite

# Config formats we don't track
*.xml
*.yaml
*.yml
*.hcl

# Images
*.svg

# Docs we don't track
*.md
!README.md
*.org

# Others
*.off
# Specific files
configs/test.hcl
verify_datasource.hcl
